
:root {
    --primary-color: #0a1118;
    --primary-color-highlight: #2adada;
    --bs-body-bg: #fbf0f6; 
    --bs-body-font-family:'Roboto Mono';
}

*{
    font-family: 'Roboto Mono' sans-serif;
}

/* Navbar buttons */



/* Navbar buttons hover */
.navbar .nav-item .nav-link:hover {
    background-color: #FFC300;

}
/* BODY */

.HernandezTitle {
    text-align: center;
}

/* BG VIDEO */
.Back-Video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.HernandezTitle {
    position: absolute;
    top: 30%;
    width: 100%;
}

.HernandezTitle h1 {
    font-size: 100px;
    color: #fff;
    font-weight: 600;
    z-index: 666;
}

.HernandezTitle a {
    margin-top: 25px;
    font-size: 28px;
    text-decoration: none;
    display: inline-block;
}

@media (max-width: 768px) {
    .HernandezTitle h1 {
        font-size: 65px;
        color: #fff;
        font-weight: 600;
        z-index: 666;
    }

    .Back-Video {
        width: 100%;
        height: auto;
    }
}
    
@media (max-aspect-ratio: 16/9) {
    .Back-Video {
        width: auto;
        height: 100%;
    }
    
}




.body {
   background-color: #f1fbff;
}

/* PADDING*/
.section-padding {
    padding: 100px 0 ;

}
/* Carousel items*/
.carousel-item {
    height: 100vh;
    min-height: 300px;
}
.carousel-caption {
    bottom: 220px;
    z-index: 2;
}

#first-carouselc {
    align-self: top;
    
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    
}
.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;

}

#item1 {
    align-self: flex-start;
}