:root {
    --primary-color: #0a1118;
    --primary-color-highlight: #233d54;
    --bs-body-bg: #fbf0f6; 
    --bs-body-font-family:'Roboto Mono';
}

*{
    font-family: 'Roboto Mono' sans-serif;
}

/* BODY */

.body {
   background-color: #f1fbff;
}

/* Padding*/
.section-padding {
    padding: 100px 0 ;

}
/* Carousel items*/
.carousel-item {
    height: 100vh;
    min-height: 300px;
}
.carousel-caption {
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    
}
.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;

}