

:root {
    --primary-color: #0a1118;
    --primary-color-highlight: #2adada;
    --bs-body-bg: #fbf0f6; 
    --bs-body-font-family:'Roboto Mono';
}

*{
    font-family: 'Roboto Mono' sans-serif;
}


/* Navbar Main */
.navbar-main {
    background: rgba(0, 0, 0, 0.6);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

/* Navbar Container */
.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
  }

/* Navbar-menu */
.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
}

/* Navbar-item */
.navbar-item {
    height: 80px;
}
/* Navbar-link */
.navbar-link {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}


/* Navbar buttons hover */
.navbar-menu .navbar-item .navbar-link:hover {
    color: #FFC300;
    transition: all 0.3s ease;

}
/* BODY */
.body {

}
.HernandezTitle {
    text-align: center;
}

/* VIDEO */
/* .video--container {
    background-color: rgba(fff, fff, fff, 0,5);
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;

    height: 90%;
    text-align: center;
    padding: 30px;
} */


.Back-Video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.HernandezTitle {
    position: absolute;
    top: 30%;
    width: 100%;
}

.HernandezTitle h1 {
    font-size: 100px;
    color: #fff;
    font-weight: 600;
    z-index: 666;
}

.HernandezTitle a {
    margin-top: 25px;
    font-size: 28px;
    text-decoration: none;
    display: inline-block;
}


    /* About Me Section */


.Aboutme__container{
    margin-top: 46rem;
    margin-bottom: 5rem;
    display: flex;

}

.Aboutme__img__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 5%;
    height: 90%;
    z-index: 3;
    width: auto;
    max-width: 1300px;
    padding: 0 20px;
}


.Aboutme__img__card {
    padding: 0%;
}

.Aboutme__content {
    padding-right: 20px;
 
}
    /* Skills */


.Skills {
    background-color: #131313;
    list-style: none;
    width: 500px;
    margin: 60px 60px;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.Skills h1 {
    text-align: center;
    text-transform: uppercase;
}

.Skills h3{
    margin: 5px;
    text-transform: uppercase;
}



/* .Skills__container {
    padding: 0 20px;
    border: 2px solid red;
} */

.Skills li {
    margin: 20px 0;
    padding: 10px;
}

.barS {
    background-color: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.barS:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.barS span {
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(255, 195, 0, 1)0%, rgba(255, 0, 50, 1)100%);
}
.html {
    width: 70%;
    animation: html 3s;
}
.css {
    width: 63%;
    animation: css 3s;
}
.js {
    width: 40%;
    animation: js 3s;
}
.python {
    width: 45%;
    animation: python 3s;
}
     /* Skills Bars Animation*/

@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 63%;
    }
}
@keyframes js {
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}
@keyframes python {
    0%{
        width: 0%;
    }
    100%{
        width: 45%;
    }
}

    /* Break Points */

@media screen and (max-width: 960px) {

    /* Navbar mobile container */
    .navbar-container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0 ;
      }

        /* Navbar-mobile-menu */
    .navbar-menu {
        display: grid;grid
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;


    }

        /* Navbar-mobile-menu-active */
    .navbar-menu.active {
        background-color: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }
        /* Navbar-mobile-menu-logo */
    .navbar-brand {
        padding-left: 25px ;
    }
        /* Navbar-mobile-menu-btn */
    .navbar--toggle .bar {
        color: white;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
        z-index: 20;

    }
        /* Navbar-mobile-menu-item */
    .navbar-item {
        width: 100%;

    }

        /* Navbar-mobile-menu-link */
    .navbar-link {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;

    }

    /* Navbar mobile menu id*/
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    /* Navbar mobile menu btn bars*/

    .navbar--toggle .bar {
        display: block;
        cursor: pointer;
      }

    /* Navbar mobile menu btn bars animation this is where magic happens from 3 lines to an X*/

    #mobile-menu.navbar--toggle.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.navbar--toggle.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.navbar--toggle.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Body main title*/

    .HernandezTitle h1 {
        letter-spacing: 0.5px;
        font-size: 60px;
        color: #fff;
        font-weight: 600;
        z-index: 666;
    }

    .Back-Video {
        width: auto;
        height: auto;
    }
}



@media screen and (max-width: 620px) {
    .Back-Video {
        object-fit: fill;
    }
}